.background-image {
  background-image: url(../../assets/prisilietimo-menas-abstract-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 300vh;
  background-position: center;
  z-index: 1;
}
.cover {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-content: center;
  justify-content: space-between;
  z-index: 1;
}
