.container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
}
.container-time {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: left;
  text-align: left;
}
.container-timeSelection {
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: space-around;
  text-align: left;
  border-bottom: 1px solid black;
  padding: 2px;
  vertical-align: top;
  align-content: space-around;
}
.container-timeSelection .input[type="ckeckbox"] {
  padding: 1px;
  size: 10px;
}

.input {
  color: black;
  height: 20px;
  stroke-width: 0px;
  border-style: none;
  outline: none;
}
.input[type="text"]:focus {
  background-color: rgb(162, 195, 220);
  outline: none;
  border-style: none;
}
.input[type="number"]:focus {
  background-color: rgb(162, 195, 220);
  outline: none;
  border-style: none;
}
.input[type="checkbox"]:focus {
  background-color: rgb(162, 195, 220);
  outline: none;
  border-style: none;
}
.time {
  margin-left: 50px;
  margin-top: 0px;
}
h4 {
  margin: 0px;
}
.phone {
  color: black;
  height: 20px;
  line-height: 2;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

