.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin: auto;
  align-items: center;
  font: calibri;
  font-size: large;
  background-color: white;
  opacity: 70%;
  width: 50%;
  height: 100vh;
  z-index: 3;
  position: relative;
}
.calendar {
  height: fit-content;
}
.data {
  margin: 20px;
}
.freeDate {
  background-color: rgb(145, 223, 141);
}
