.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin: auto;
  align-items: center;
  font: calibri;
  font-size: large;
  background-color: white;
  opacity: 70%;
  width: 50%;
  height: 100vh;
  z-index: 3;
  position: relative;
}
.main-contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin: auto;
  align-items: center;
  font: calibri;
  font-size: large;
  background-color: white;
  opacity: 100%;
  width: 50%;
  height: 100vh;
  z-index: 3;
  position: relative;
}
.img-contact {
  background-color: white;
  opacity: 100%;
  height: 40%;
  width: 100%;
  margin: 40px;
  object-fit: cover;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-left: 0;
}
.hero-text {
  font-size: 12vh;
  margin-bottom: 0;
  margin-left: 0;
  font-family: CalibriLight;
  line-height: 0.7;
  text-align: left;
}
.hero-text p {
  font-size: 4vh;
  color: black;
  width: 100%;
  margin-left: 10px;
  padding-left: 5px;
  margin-top: 20px;
  padding: 10px;
  font-family: BiloxiScript;
  line-height: 0.8;
  border-left: 5px solid white;
  height: 100%;
}
@font-face {
  font-family: BiloxiScript;
  src: url("../assets/Biloxi-Script.ttf");
}
@font-face {
  font-family: CalibriLight;
  src: url("../assets/Calibri-Light.ttf");
}
.calendar {
  height: fit-content;
}
h3 {
  margin-top: 0px;
}
ul {
  text-align: left;
}
p {
  margin: 40px;
  text-align: justify;
}
.freeDate {
  background-color: rgb(145, 223, 141);
}
.date-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 30px;
}
.date-time h4 {
  margin-left: 30px;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  color: white;
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  width: auto;
}

.flex-form {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: strech;
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 1rem;
  align-content: center;
  text-align: center;
  align-content: stretch;
  justify-content: center;
  align-items: strech;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: black;
  background-color: #ffffff;
}

.control-group {
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}
