.App {
  text-align: center;
  font-family: CalibriLight;
}
@font-face {
  font-family: CalibriLight;
  src: url("./assets/Calibri-Light.ttf");
}
body {
  background-color: hsl(0, 0%, 100%);
  color: rgb(23, 74, 112);
}
